@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@200&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono&display=swap');

body {
    background-color: #fffff4;
    font-family: 'Roboto Mono', monospace;
}   

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    height: 90vh;
}

.container .head {
    color: #fffff4;
    background-color: black;
    padding: 20px 50px;
    margin-top: 70px;
    filter: drop-shadow(8px 8px 0px red);

    font-family: 'Roboto Mono', monospace;
    letter-spacing: 5px;
    text-align: center;
    font-size: 50px;
}

.container .card {
    /* border: 0.5px solid black;
    border-radius: 10px;
    background-color: tomato; */
    margin-top: 35px;
    max-width: 600px;
    height: 400px;

    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}

.container .card .timer {
    border: 3px solid black;
    width: 300px;
    height: 100px;
    font-size: 40px;

    display: inline-flex;
    justify-content: center;
    align-items: center;
}

.container .card .timer #counter {
    border: none;
    /* background-color: #fffff4; */
}


.container .card .button .startGame, .container .card .button .countGame, .container .card .button .resetGame {
    margin-top: 30px;
    border-radius: 100px;
    border: 4px solid black;
    /* border: none; */
    background-color: red;
    color: #fffff4;
    font-family: 'Roboto Mono', monospace;
    font-size: 25px;
    font-weight: 700;

    height: 130px;
    width: 130px;
}

.container .card .button .countGame {
    background-color: greenyellow;
    color: #000;
}

.container .card .button .resetGame {
    background-color: yellow;
    color: #000;
}   

.container .card .red-dot {
    height: 100px;
    width: 150px;
    margin: 30px 0;

    display: flex;
    justify-content: center;
    align-items: center;

    background-color: aquamarine;
    filter: drop-shadow(8px 8px 0px #000000);
}

.container .card .red-dot p {
    font-size: 50px;
    margin: 0;
}